<div class="col-md-12">

  <div class="row box">

    <div class="box-inner col-md-6 col-md-offset-3">
      <p class="slogan">感谢这个风起云涌的时代，
        <br>
          我们一起，或许可以改变世界.
      </p>
      <p class="lead row">
        想要搜索职位？<%= link_to '立即开始', jobs_path %>
      </p>
    </div>
  </div>

</div>
